name: Hassfest

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * *"

jobs:
  validate:
    runs-on: ubuntu-latest
    name: Hassfest validation
    steps:
      - uses: actions/checkout@v3

      - name: Hassfest validation
        uses: home-assistant/actions/hassfest@master
